<h3>Contas a Receber</h3>

<!-- div row para pesquisa -->
<!--<div class="row">-->


<div data-component="crn-button" id="crn-button-564202" class="">
    <button class="btn btn-primary" type="submit" onclick="" data-component="crn-button" ng-click="BillToReceive.startInserting()" ng-hide="BillToReceive.inserting || BillToReceive.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<!-- fim div row para pesquisa -->
<!--</div>-->

<datasource filter="" name="BillToReceive" entity="api/cronapi/crud/app.entity.BillToReceive" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
<div class="component-holder" data-component="crn-grid" id="crn-grid-BillToReceive">
    <div crn-datasource="BillToReceive" class="" ng-hide="BillToReceive.editing || BillToReceive.inserting">
        <table class="table  table-bordered table-hover table-striped">
            <thead>
            <tr class="table-header">
                <th class="">
                    <div class="">Observação</div>
                </th>
                <th class="">
                    <div class="">Descrição</div>
                </th>
                <th class="">
                    <div class="">Valor</div>
                </th>
                <th class="">
                    <div class="">Situação Conta</div>
                </th>
                <th class="">
                    <div class="">Conta de Gestão</div>
                </th>
                <th class="">
                    <div class="">Data de Recebimento</div>
                </th>
                <th class="">
                    <div class="">Pedido de Venda</div>
                </th>
                <th class="">
                    <div class="">Movimento Bancário</div>
                </th>
                <th class="">
                    <div class="">{{"template.crud.actions" | translate}}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-content" ng-repeat="rowData in datasource.data">
                <td class="">
                    <div class="">
                                {{rowData.receiveNote  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.descriptionReceive  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.amount  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.billStatus.name}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.managementBill.name}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.receiptDate | mask:'datetime'}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.salesOrder.fiscalDocument}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.accountMovement.note}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-controls">
            <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
        </div>
    </div>
</div>
<div data-component="crn-form" id="crn-form-form-BillToReceive">
    <div class="form" ng-show="BillToReceive.editing || BillToReceive.inserting">
        <form crn-datasource="BillToReceive" class="">
            <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <br/>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">

                <div data-component="crn-textinput" id="crn-textinput-receiveNote" class="">
                    <div class="form-group">
                        <label for="textinput-receiveNote" class="">Observação</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="text"
                                            ng-model="BillToReceive.active.receiveNote"
                                            class="form-control"
                                            id="textinput-receiveNote"
                                            placeholder="Observação"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-descriptionReceive" class="">
                    <div class="form-group">
                        <label for="textinput-descriptionReceive" class="">Descrição</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="text"
                                            ng-model="BillToReceive.active.descriptionReceive"
                                            class="form-control"
                                            id="textinput-descriptionReceive"
                                            placeholder="Descrição"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-amount" class="">
                    <div class="form-group">
                        <label for="textinput-amount" class="">Valor</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="number"
                                            ng-model="BillToReceive.active.amount"
                                            class="form-control"
                                            id="textinput-amount"
                                            placeholder="Valor"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Billstatus" entity="api/cronapi/crud/app.entity.BillStatus" keys="id" class="" dependent-by="{{BillToReceive}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-billStatus" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-billStatus" class="">Situação Conta</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <ui-select ng-model="BillToReceive.active.billStatus" crn-datasource="Billstatus" class="crn-select" id="combobox-dynamic-billStatus" ng-required="false" theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.name}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Managementbill" entity="api/cronapi/crud/app.entity.ManagementBill" keys="id" class="" dependent-by="{{BillToReceive}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-managementBill" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-managementBill" class="">Conta de Gestão</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <ui-select ng-model="BillToReceive.active.managementBill" crn-datasource="Managementbill" class="crn-select" id="combobox-dynamic-managementBill" ng-required="false" theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.name}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-receiptDate" class="">
                    <div class="form-group">
                        <label for="textinput-receiptDate" class="">Data de Recebimento</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="datetime"
                                            ng-model="BillToReceive.active.receiptDate"
                                            class="form-control"
                                            id="textinput-receiptDate"
                                            placeholder="Data de Recebimento"
                                            mask="DD/MM/YYYY"
                                            mask-placeholder=""
                                            ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Salesorder" entity="api/cronapi/crud/app.entity.SalesOrder" keys="id" class="" dependent-by="{{BillToReceive}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-salesOrder" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-salesOrder" class="">Pedido de Venda</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <ui-select ng-model="BillToReceive.active.salesOrder" crn-datasource="Salesorder" class="crn-select" id="combobox-dynamic-salesOrder" ng-required="false" theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.fiscalDocument}}
                                    </ui-select-match>
                                    <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.fiscalDocument}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Accountmovement" entity="api/cronapi/crud/app.entity.AccountMovement" keys="id" class="" dependent-by="{{BillToReceive}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-accountMovement" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-accountMovement" class="">Movimento Bancário</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <ui-select ng-model="BillToReceive.active.accountMovement" crn-datasource="Accountmovement" class="crn-select" id="combobox-dynamic-accountMovement" ng-required="false" theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.note}}
                                    </ui-select-match>
                                    <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.note}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                <!-- NtoN  -->
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!-- OneToOne  end -->
            </fieldset>
        </form>
    </div>
</div>


<!-- OneToOne modal -->
<!-- OneToOne modal end-->
