<h3>Pedido de Venda</h3>

<!-- div row para pesquisa -->
<!--<div class="row">-->


<div data-component="crn-button" id="crn-button-564202" class="">
    <button class="btn btn-primary" type="submit" onclick="" data-component="crn-button" ng-click="SalesOrder.startInserting()" ng-hide="SalesOrder.inserting || SalesOrder.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<!-- fim div row para pesquisa -->
<!--</div>-->

<datasource filter="" name="SalesOrder" entity="api/cronapi/crud/app.entity.SalesOrder" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
<div class="component-holder" data-component="crn-grid" id="crn-grid-SalesOrder">
    <div crn-datasource="SalesOrder" class="" ng-hide="SalesOrder.editing || SalesOrder.inserting">
        <table class="table  table-bordered table-hover table-striped">
            <thead>
            <tr class="table-header">
                <th class="">
                    <div class="">Data de Criação</div>
                </th>
                <th class="">
                    <div class="">Documento Fiscal</div>
                </th>
                <th class="">
                    <div class="">Situação</div>
                </th>
                <th class="">
                    <div class="">Cliente</div>
                </th>
                <th class="">
                    <div class="">Forma de Pagamento</div>
                </th>
                <th class="">
                    <div class="">{{"template.crud.actions" | translate}}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-content" ng-repeat="rowData in datasource.data">
                <td class="">
                    <div class="">
                                {{rowData.addedDate | mask:'datetime'}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.fiscalDocument  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.orderStatus.name}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.client.name}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.formOfPayment.name}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-controls">
            <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
        </div>
    </div>
</div>
<div data-component="crn-form" id="crn-form-form-SalesOrder">
    <div class="form" ng-show="SalesOrder.editing || SalesOrder.inserting">
        <form crn-datasource="SalesOrder" class="">
            <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <br/>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">

                <div data-component="crn-textinput" id="crn-textinput-addedDate" class="">
                    <div class="form-group">
                        <label for="textinput-addedDate" class="">Data de Criação</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="datetime"
                                            ng-model="SalesOrder.active.addedDate"
                                            class="form-control"
                                            id="textinput-addedDate"
                                            placeholder="Data de Criação"
                                            mask="DD/MM/YYYY HH:mm:ss"
                                            mask-placeholder=""
                                            ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-fiscalDocument" class="">
                    <div class="form-group">
                        <label for="textinput-fiscalDocument" class="">Documento Fiscal</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="text"
                                            ng-model="SalesOrder.active.fiscalDocument"
                                            class="form-control"
                                            id="textinput-fiscalDocument"
                                            placeholder="Documento Fiscal"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Orderstatus" entity="api/cronapi/crud/app.entity.OrderStatus" keys="id" class="" dependent-by="{{SalesOrder}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-orderStatus" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-orderStatus" class="">Situação</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <ui-select ng-model="SalesOrder.active.orderStatus" crn-datasource="Orderstatus" class="crn-select" id="combobox-dynamic-orderStatus" ng-required="false" theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.name}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Client" entity="api/cronapi/crud/app.entity.Client" keys="id" class="" dependent-by="{{SalesOrder}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-client" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-client" class="">Cliente</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <ui-select ng-model="SalesOrder.active.client" crn-datasource="Client" class="crn-select" id="combobox-dynamic-client" ng-required="false" theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.name}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Formofpayment" entity="api/cronapi/crud/app.entity.FormOfPayment" keys="id" class="" dependent-by="{{SalesOrder}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-formOfPayment" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-formOfPayment" class="">Forma de Pagamento</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <ui-select ng-model="SalesOrder.active.formOfPayment" crn-datasource="Formofpayment" class="crn-select" id="combobox-dynamic-formOfPayment" ng-required="false" theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.name}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                <!-- NtoN  -->
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!--query filter 1toN -->
                <!-- query filter 1toN end-->
                <datasource filter="" name="OrderProductGrid" enabled="{{SalesOrder.editing || SalesOrder.inserting}}" entity="api/cronapi/crud/app.entity.SalesOrder/{{SalesOrder.active.id}}/relation:salesOrder:OrderProduct" keys="id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="SalesOrder" dependent-lazy-post-field="salesOrder"></datasource>
                <div data-component="crn-button" class="">
                    <button class="btn btn-primary" onclick="$('#modalOrderProductGrid').modal('show');" data-component="crn-button" ng-click="OrderProductGrid.startInserting();"><i class="fa fa-plus"></i> 
						<span class="">{{"Add" | translate}} Produtos do Pedido</span> 
					</button>
                </div>
                <!--search 1toN-->
                <!-- seach 1toN end-->
                <div data-component="crn-textinput" id="crn-textinput-descricao">
                    <div class="form-group">
                        <label for="textinput-descricao" class="">
							Produtos do Pedido
						</label>
                        <div class="component-holder" data-component="crn-grid" id="crn-grid-OrderProductGrid">
                            <div crn-datasource="OrderProductGrid">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr class="table-header">
                                                <th class="">
                                                    <div class="">
                                                        Produto
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div class="">
                                                        Valor
                                                    </div>
                                                </th>
                                        <th class="">
                                            <div class="">
                                                {{"template.crud.actions" | translate}}
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-content" ng-repeat="rowData in datasource.data">
                                                <td>
                                                    <div>
                                                            {{rowData.product.name }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                            {{rowData.price }}
                                                    </div>
                                                </td>
                                        <td>
                                            <div>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.startEditing(rowData)" onclick="$('#modalOrderProductGrid').modal('show');" ><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="table-footer-controls">
                                    <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()" content="{{&quot;template.crud.load_more&quot; | translate}}...">{{"template.crud.load_more" | translate}}...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- OneToOne  end -->
            </fieldset>
        </form>
    </div>
</div>


<!-- OneToOne modal -->
<div class="modal fade" id="modalOrderProductGrid">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">OrderProduct</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-sm row">
<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->
                                        <datasource name="ProductGridForUiSelect" entity="api/cronapi/crud/app.entity.Product" keys="id" rows-per-page="100" lazy="true" enabled="{{SalesOrder.editing || SalesOrder.inserting}}" ></datasource>
                                        <div data-component="crn-combobox-dynamic" id="crn-combobox-OrderProductGrid.active.product" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="combobox-product" class="">Produto</label>
                                                <ui-select ng-model="OrderProductGrid.active.product" crn-datasource="ProductGridForUiSelect" class="crn-select" id="combobox-product" ng-required="false" ng-disabled="disabled" theme="bootstrap" >
                                                    <ui-select-match placeholder="Select..." class="">
                                                        {{$select.selected.name}}
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                                        <div class="">
                                                            {{rowData.name}}
                                                        </div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-price" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-price">Valor</label>
                                                <input type="number"
                                                       ng-model="OrderProductGrid.active.price" class="form-control"
                                                       id="textinput-price"
                                                       placeholder="Valor"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-component="crn-button" ng-click="OrderProductGrid.post();" onclick="(!OrderProductGrid.missingRequiredField()?$('#modalOrderProductGrid').modal('hide'):void(0))">{{'Save' | translate}}</button>
                    <button type="button" class="btn btn-default" data-component="crn-button" data-dismiss="modal">{{'Home.view.Close' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- OneToOne modal end-->
