<h3>Fornecedor</h3>

<!-- div row para pesquisa -->
<!--<div class="row">-->


<div data-component="crn-button" id="crn-button-564202" class="">
    <button class="btn btn-primary" type="submit" onclick="" data-component="crn-button" ng-click="Supplier.startInserting()" ng-hide="Supplier.inserting || Supplier.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<!-- fim div row para pesquisa -->
<!--</div>-->

<datasource filter="" name="Supplier" entity="api/cronapi/crud/app.entity.Supplier" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Supplier">
    <div crn-datasource="Supplier" class="" ng-hide="Supplier.editing || Supplier.inserting">
        <table class="table  table-bordered table-hover table-striped">
            <thead>
            <tr class="table-header">
                <th class="">
                    <div class="">Nome</div>
                </th>
                <th class="">
                    <div class="">Telefone</div>
                </th>
                <th class="">
                    <div class="">Email</div>
                </th>
                <th class="">
                    <div class="">Ativo</div>
                </th>
                <th class="">
                    <div class="">Tipo Fornecedor</div>
                </th>
                <th class="">
                    <div class="">{{"template.crud.actions" | translate}}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-content" ng-repeat="rowData in datasource.data">
                <td class="">
                    <div class="">
                                {{rowData.name  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.phone | mask:'(99) 99999-9999;0' }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.email  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.active  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.supplierType.name}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-controls">
            <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
        </div>
    </div>
</div>
<div data-component="crn-form" id="crn-form-form-Supplier">
    <div class="form" ng-show="Supplier.editing || Supplier.inserting">
        <form crn-datasource="Supplier" class="">
            <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <br/>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">

                <div data-component="crn-textinput" id="crn-textinput-name" class="">
                    <div class="form-group">
                        <label for="textinput-name" class="">Nome</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="text"
                                            ng-model="Supplier.active.name"
                                            class="form-control"
                                            id="textinput-name"
                                            placeholder="Nome"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-phone" class="">
                    <div class="form-group">
                        <label for="textinput-phone" class="">Telefone</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="text"
                                            ng-model="Supplier.active.phone"
                                            class="form-control"
                                            id="textinput-phone"
                                            placeholder="Telefone"
                                            mask="(99) 99999-9999;0"
                                            mask-placeholder=""
                                            ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-email" class="">
                    <div class="form-group">
                        <label for="textinput-email" class="">Email</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="text"
                                            ng-model="Supplier.active.email"
                                            class="form-control"
                                            id="textinput-email"
                                            placeholder="Email"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-active" class="">
                    <div class="form-group">
                        <label for="textinput-active" class="">Ativo</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="checkbox"
                                            ng-model="Supplier.active.active"
                                            class="form-control"
                                            id="textinput-active"
                                            placeholder="Ativo"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Suppliertype" entity="api/cronapi/crud/app.entity.SupplierType" keys="id" class="" dependent-by="{{Supplier}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-supplierType" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-supplierType" class="">Tipo Fornecedor</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <ui-select ng-model="Supplier.active.supplierType" crn-datasource="Suppliertype" class="crn-select" id="combobox-dynamic-supplierType" ng-required="false" theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.name}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                <!-- NtoN  -->
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!--query filter 1toN -->
                <!-- query filter 1toN end-->
                <datasource filter="" name="SupplierPhysicalPersonGrid" enabled="{{Supplier.editing || Supplier.inserting}}" entity="api/cronapi/crud/app.entity.Supplier/{{Supplier.active.id}}/relation:supplier:SupplierPhysicalPerson" keys="id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="Supplier" dependent-lazy-post-field="supplier"></datasource>
                <div data-component="crn-button" class="">
                    <button class="btn btn-primary" onclick="$('#modalSupplierPhysicalPersonGrid').modal('show');" data-component="crn-button" ng-click="SupplierPhysicalPersonGrid.startInserting();"><i class="fa fa-plus"></i> 
						<span class="">{{"Add" | translate}} Pessoa Física</span> 
					</button>
                </div>
                <!--search 1toN-->
                <!-- seach 1toN end-->
                <div data-component="crn-textinput" id="crn-textinput-descricao">
                    <div class="form-group">
                        <label for="textinput-descricao" class="">
							Pessoa Física
						</label>
                        <div class="component-holder" data-component="crn-grid" id="crn-grid-SupplierPhysicalPersonGrid">
                            <div crn-datasource="SupplierPhysicalPersonGrid">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr class="table-header">
                                                <th class="">
                                                    <div class="">
                                                        Rg
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div class="">
                                                        Cpf
                                                    </div>
                                                </th>
                                        <th class="">
                                            <div class="">
                                                {{"template.crud.actions" | translate}}
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-content" ng-repeat="rowData in datasource.data">
                                                <td>
                                                    <div>
                                                            {{rowData.rg }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                            {{rowData.cpf }}
                                                    </div>
                                                </td>
                                        <td>
                                            <div>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.startEditing(rowData)" onclick="$('#modalSupplierPhysicalPersonGrid').modal('show');" ><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="table-footer-controls">
                                    <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()" content="{{&quot;template.crud.load_more&quot; | translate}}...">{{"template.crud.load_more" | translate}}...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--query filter 1toN -->
                <!-- query filter 1toN end-->
                <datasource filter="" name="SupplierAddressGrid" enabled="{{Supplier.editing || Supplier.inserting}}" entity="api/cronapi/crud/app.entity.Supplier/{{Supplier.active.id}}/relation:supplier:SupplierAddress" keys="id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="Supplier" dependent-lazy-post-field="supplier"></datasource>
                <div data-component="crn-button" class="">
                    <button class="btn btn-primary" onclick="$('#modalSupplierAddressGrid').modal('show');" data-component="crn-button" ng-click="SupplierAddressGrid.startInserting();"><i class="fa fa-plus"></i> 
						<span class="">{{"Add" | translate}} Endereço</span> 
					</button>
                </div>
                <!--search 1toN-->
                <!-- seach 1toN end-->
                <div data-component="crn-textinput" id="crn-textinput-descricao">
                    <div class="form-group">
                        <label for="textinput-descricao" class="">
							Endereço
						</label>
                        <div class="component-holder" data-component="crn-grid" id="crn-grid-SupplierAddressGrid">
                            <div crn-datasource="SupplierAddressGrid">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr class="table-header">
                                                <th class="">
                                                    <div class="">
                                                        Endereço
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div class="">
                                                        Cidade
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div class="">
                                                        Código Postal
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div class="">
                                                        País
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div class="">
                                                        Estado
                                                    </div>
                                                </th>
                                        <th class="">
                                            <div class="">
                                                {{"template.crud.actions" | translate}}
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-content" ng-repeat="rowData in datasource.data">
                                                <td>
                                                    <div>
                                                            {{rowData.address }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                            {{rowData.city }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                            {{rowData.postalCode | mask:'99999-999;0'}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                            {{rowData.country }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                            {{rowData.state }}
                                                    </div>
                                                </td>
                                        <td>
                                            <div>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.startEditing(rowData)" onclick="$('#modalSupplierAddressGrid').modal('show');" ><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="table-footer-controls">
                                    <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()" content="{{&quot;template.crud.load_more&quot; | translate}}...">{{"template.crud.load_more" | translate}}...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--query filter 1toN -->
                <!-- query filter 1toN end-->
                <datasource filter="" name="SupplierLegalPersonGrid" enabled="{{Supplier.editing || Supplier.inserting}}" entity="api/cronapi/crud/app.entity.Supplier/{{Supplier.active.id}}/relation:supplier:SupplierLegalPerson" keys="id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="Supplier" dependent-lazy-post-field="supplier"></datasource>
                <div data-component="crn-button" class="">
                    <button class="btn btn-primary" onclick="$('#modalSupplierLegalPersonGrid').modal('show');" data-component="crn-button" ng-click="SupplierLegalPersonGrid.startInserting();"><i class="fa fa-plus"></i> 
						<span class="">{{"Add" | translate}} Pessoa Jurídica</span> 
					</button>
                </div>
                <!--search 1toN-->
                <!-- seach 1toN end-->
                <div data-component="crn-textinput" id="crn-textinput-descricao">
                    <div class="form-group">
                        <label for="textinput-descricao" class="">
							Pessoa Jurídica
						</label>
                        <div class="component-holder" data-component="crn-grid" id="crn-grid-SupplierLegalPersonGrid">
                            <div crn-datasource="SupplierLegalPersonGrid">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr class="table-header">
                                                <th class="">
                                                    <div class="">
                                                        CNPJ
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div class="">
                                                        Nome Fantasia
                                                    </div>
                                                </th>
                                        <th class="">
                                            <div class="">
                                                {{"template.crud.actions" | translate}}
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-content" ng-repeat="rowData in datasource.data">
                                                <td>
                                                    <div>
                                                            {{rowData.cnpj }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                            {{rowData.fantasyName }}
                                                    </div>
                                                </td>
                                        <td>
                                            <div>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.startEditing(rowData)" onclick="$('#modalSupplierLegalPersonGrid').modal('show');" ><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="table-footer-controls">
                                    <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()" content="{{&quot;template.crud.load_more&quot; | translate}}...">{{"template.crud.load_more" | translate}}...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- OneToOne  end -->
            </fieldset>
        </form>
    </div>
</div>


<!-- OneToOne modal -->
<div class="modal fade" id="modalSupplierPhysicalPersonGrid">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">SupplierPhysicalPerson</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-sm row">
<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-rg" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-rg">Rg</label>
                                                <input type="text"
                                                       ng-model="SupplierPhysicalPersonGrid.active.rg" class="form-control"
                                                       id="textinput-rg"
                                                       placeholder="Rg"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-cpf" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-cpf">Cpf</label>
                                                <input type="text"
                                                       ng-model="SupplierPhysicalPersonGrid.active.cpf" class="form-control"
                                                       id="textinput-cpf"
                                                       placeholder="Cpf"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-component="crn-button" ng-click="SupplierPhysicalPersonGrid.post();" onclick="(!SupplierPhysicalPersonGrid.missingRequiredField()?$('#modalSupplierPhysicalPersonGrid').modal('hide'):void(0))">{{'Save' | translate}}</button>
                    <button type="button" class="btn btn-default" data-component="crn-button" data-dismiss="modal">{{'Home.view.Close' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSupplierAddressGrid">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">SupplierAddress</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-sm row">
<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-address" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-address">Endereço</label>
                                                <input type="text"
                                                       ng-model="SupplierAddressGrid.active.address" class="form-control"
                                                       id="textinput-address"
                                                       placeholder="Endereço"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-city" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-city">Cidade</label>
                                                <input type="text"
                                                       ng-model="SupplierAddressGrid.active.city" class="form-control"
                                                       id="textinput-city"
                                                       placeholder="Cidade"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-postalCode" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-postalCode">Código Postal</label>
                                                <input type="text"
                                                       ng-model="SupplierAddressGrid.active.postalCode" class="form-control"
                                                       id="textinput-postalCode"
                                                       placeholder="Código Postal"
                                                       mask="99999-999;0"
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-country" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-country">País</label>
                                                <input type="text"
                                                       ng-model="SupplierAddressGrid.active.country" class="form-control"
                                                       id="textinput-country"
                                                       placeholder="País"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-state" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-state">Estado</label>
                                                <input type="text"
                                                       ng-model="SupplierAddressGrid.active.state" class="form-control"
                                                       id="textinput-state"
                                                       placeholder="Estado"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-component="crn-button" ng-click="SupplierAddressGrid.post();" onclick="(!SupplierAddressGrid.missingRequiredField()?$('#modalSupplierAddressGrid').modal('hide'):void(0))">{{'Save' | translate}}</button>
                    <button type="button" class="btn btn-default" data-component="crn-button" data-dismiss="modal">{{'Home.view.Close' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSupplierLegalPersonGrid">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">SupplierLegalPerson</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-sm row">
<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-cnpj" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-cnpj">CNPJ</label>
                                                <input type="text"
                                                       ng-model="SupplierLegalPersonGrid.active.cnpj" class="form-control"
                                                       id="textinput-cnpj"
                                                       placeholder="CNPJ"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-fantasyName" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-fantasyName">Nome Fantasia</label>
                                                <input type="text"
                                                       ng-model="SupplierLegalPersonGrid.active.fantasyName" class="form-control"
                                                       id="textinput-fantasyName"
                                                       placeholder="Nome Fantasia"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-component="crn-button" ng-click="SupplierLegalPersonGrid.post();" onclick="(!SupplierLegalPersonGrid.missingRequiredField()?$('#modalSupplierLegalPersonGrid').modal('hide'):void(0))">{{'Save' | translate}}</button>
                    <button type="button" class="btn btn-default" data-component="crn-button" data-dismiss="modal">{{'Home.view.Close' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- OneToOne modal end-->
